In [1]:
# -*- coding: utf-8 -*-

__author__ = 'nyash myash'

import pandas


data = pandas.read_csv('data.csv', index_col='PassengerId')

# print data.head()

print data['Sex'].value_counts()
print data['Survived'].value_counts()

print data['Survived'].sum()/float(data['Survived'].count()) * 100

print data['Pclass'].value_counts().sum()


print float(data.loc[data['Pclass'] == 1]['Pclass'].count()) / data['Pclass'].value_counts().sum() * 100
print data.loc[data['Pclass'] == 1]['Pclass'].value_counts()/ data['Pclass'].value_counts().sum() * 100

print data['Age'].describe()

print data['SibSp'].corr(data['Parch'], method='pearson')

names = data.loc[data['Sex'] == 'female']['Name']
first_names = []

for item in names:
    if '(' in item:
            start = item.index('(') + 1
            end = item.index(')')
            first_names.append(item[start:end].split()[0])
    else:
         first_names.append(item.split(',')[1].split()[1])
    # else:
    #      print item


print first_names

n = pandas.Series(first_names)
print n.value_counts()
    # if "Miss." in item:
    #     print item.split(',')[1].split()[1]

male      577
female    314
Name: Sex, dtype: int64
0    549
1    342
Name: Survived, dtype: int64
38.38383838383838
891
24.2424242424
1    24.242424
Name: Pclass, dtype: float64
count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64
0.4148376986201567
['Florence', 'Laina', 'Lily', 'Elisabeth', 'Adele', 'Marguerite', 'Elizabeth', 'Hulda', 'Mary', 'Emelia', 'Fatima', 'Anna', 'Torborg', 'Selma', 'Ellen', 'Marie', 'Mary', 'Augusta', 'Jamila', 'Johanna', 'Dorothy', 'Simonne', 'Margaret', 'Bridget', 'Josefine', 'Myna', 'Elizabeth', 'Emily', 'Constance', 'Amelie', 'Elizabeth', 'Erna', 'Lillian', 'Elizabeth', 'Brigdet', 'Bertha', 'Maria', 'Mabel', 'Ada', 'Matilda', 'Anna', 'Bertha', 'Hileni', 'Katriina', 'Malake', 'Ellis', 'Susan', 'Anna', 'Grace', 'Mathilde', 'Helen', 'Sultana', 'Anna', 'Elin', 'Robina', 'Edith', 'Katherine', 'Elizabeth', 'Edith', 'Anna', 'Eleanor', 'Ann', 'Constance', 'Luise', 'Johanna', 'Rosa', 'Carla', 'Margaret', 'Elise', 'Margaret', '"Mrs', 'Telma', 'Helen', 'Clear', 'Madeleine', 'Eliina', 'Albina', 'Mathilde', 'Irene', 'Lillian', 'Alice', 'Marjorie', 'Thamine', 'Katherine', 'Agda', 'Anna', 'Elna', 'Helena', 'Hanne', 'Gertrude', 'Gladys', 'Anna', 'Lutie', 'Delia', 'Edith', 'Amelia', 'Elizabeth', 'Hanora', 'Kornelia', 'Augusta', 'Rosa', 'Kate', 'Ellen', 'Helen', 'Aloisia', 'Helen', 'Helene', 'Anna', 'Nora', 'Margaret', 'Maria', 'Laura', 'Margaret', 'Emily', 'Anna', 'Helmina', 'Miriam', 'Mary', 'Margaretta', 'Hilda', 'Sylvia', 'Marie', 'Ada', 'Emily', 'Jean', 'Agnes', 'Clara', 'Elizabeth', 'Alice', 'Amelia', 'Marion', 'Mary', 'Elsie', 'Annie', 'Mary', 'Helen', 'Catherine', 'Anna', 'Mantoura', 'Annie', 'Leontine', 'Stina', 'Leila', 'Aurora', 'Rosalie', '"Mary"', 'Mary', 'Kate', 'Bertha', 'Marjorie', 'Agnes', 'Elina', 'Jessie', 'Mari', 'Marija', 'Ida', 'Daisy', 'Annie', 'Lulu', 'Lyyli', 'Catharina', 'Anna', 'Ada', '"Mrs', 'Florence', 'Alice', 'Lucile', 'Doolina', 'Emily', 'Esther', 'Encarnacion', 'Madeleine', 'Marie', 'Marion', 'Ellen', 'Helene', 'Ada', 'Marie', 'Ida', 'Hildur', 'Hedwig', 'Jeannie', 'Jane', 'Elizabeth', 'Bessie', 'Mary', 'Bridget', 'Kristina', 'Roberta', 'Jane', 'Elizabeth', 'Amelia', 'Florence', 'Anne', 'Ida', 'Lucy', 'Phyllis', 'Catherine', 'Marija', 'Eva', 'Bertha', 'Hedwig', 'Harriet', 'Ingeborg', 'Sigrid', 'Ethel', 'Velin', 'Lucille', 'Tillie', 'Emma', 'Marion', 'Alma', 'Charlotte', 'Mary', 'Ethel', 'Alice', 'Maria', 'Julie', 'Marian', 'Ruth', 'Martha', 'Mary', 'Jessie', 'Amy', 'Juliette', 'Elizabeth', 'Alfrida', 'Margaret', 'Alice', 'Cordelia', 'Marion', 'Gretchen', 'Mabel', 'Mary', 'Maria', 'Emma', 'Margit', 'Eugenie', 'Amy', 'Elsie', 'Hanora', 'Hanora', 'Catherine', 'Juliet', 'Elizabeth', 'Anna', 'Augusta', 'Katie', 'Georgette', 'Manca', 'Katherine', 'Madeleine', 'Saiide', 'Florence', 'Alice', '"Mrs', 'Caroline', 'Edwina', 'Annie', 'Lillian', 'Margareth', 'Pieta', 'Elisabeth', 'Margaret', 'Susan', 'Anna', 'Joan', 'Jane', 'Lucy', 'Lucile', 'Anna', 'Mary', 'Mary', 'Eliza', 'Virginia', 'Elisabeth', 'Banoura', 'Vera', 'Anna', 'Stella', 'Farnham', 'Mara', 'Rosalie', 'Charlotte', 'Ellen', 'Bertha', 'Ebba', 'Wendla', 'Clara', 'Beila', 'Martha', 'Selini', 'Sara', 'Augusta', 'Edwiga', 'Nourelain', 'Mary', 'Lilian', 'Leah', 'Mary', 'Latifa', 'Margaret', 'Dorothy', 'Karolina', 'Asuncion', 'Sallie', 'Hannah', 'Adele', 'Lily', 'Imanita', 'Gerda', 'Margaret', 'Margaret', 'Catherine']
Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         6
Helen         5
Bertha        5
Emily         4
Marie         4
Catherine     4
Ellen         4
Annie         4
Florence      4
Marion        4
Augusta       4
Maria         4
Ada           4
Lillian       3
Katherine     3
Madeleine     3
Amelia        3
"Mrs          3
Ida           3
Edith         3
Hanora        3
Jane          3
Elisabeth     3
Bridget       2
Mathilde      2
Lily          2
             ..
Elise         1
Katriina      1
Lyyli         1
Elin          1
Stina         1
Ann           1
Malake        1
Robina        1
Brigdet       1
Helena        1
Carla         1
Torborg       1
Tillie        1
Mara          1
Alfrida       1
Eliza         1
Nourelain     1
Edwiga        1
Manca         1
Aloisia       1
Gertrude      1
Ingeborg      1
Wendla        1
Ellis         1
Daisy         1
Juliet        1
Juliette      1
"Mary"        1
Margareth     1
Sara          1
Length: 178, dtype: int64